body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: yellow;
}

header {
    background-color: #ffa500; /* Turuncu tonu */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcc00; /* Sarı tonu */
}

section {
    padding: 20px;
}

#anasayfa {
    background-color: #fff5e1; /* Hafif sarımtırak tonu */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#psikoloji {
    background-color: #fffacd; /* LemonChiffon rengi */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mutluluk {
    background-color: #ffe4b5; /* Moccasin rengi */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
