body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffcc00;
}

header {
    background-color: #ffa500; /* Turuncu tonu */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo h1 {
    margin: 0;
}



/*
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcc00; 
}

*/

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

ul{
    list-style: none;
    background: #228c2e;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 40px 55px;
    color: #FFF;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #22438C;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    background: #112C66;
}

ul li:hover ul.dropdown{
    display:block;
}

section {
    padding: 20px;
} 

#anasayfa {
    background-color: #b30a2b; /* Hafif sarımtırak tonu */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#psikoloji {
    background-color: #fffacd; /* LemonChiffon rengi */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mutluluk {
    background-color: #ffe4b5; /* Moccasin rengi */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
